.he{
    background-color: black;
}
.he{
    margin-top: 50px;
display:flexbox;
justify-content: center;

}
/* .name{
    margin-top: 50px;
    text-align: center  ;
    font-family: 'Noto Sans TC', sans-serif;
} */

.k1{
    margin-right: 10px;
}